<body>
  <header>
    <!--ALERT-->
    <div class="alert alert-warning alert-dismissible fade show collapse" role="alert" [hidden]="!showAlert">
      <strong>{{ alertText }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        (click)="reseteoAlert()"></button>
    </div>
    <!--Barra de navegación-->
    <nav class="navbar navbar-expand-lg bg-gris">
      <div class="container-fluid">
        <a class="navbar-brand" href="/inicio">
          <img src="../../../assets/imag/APLogo-20-20 (1).png" alt="Logo Argentina Prigrama"
            class="d-inline-block align-text-top logo ">
        </a>

        <ul class="nav justify-content-end">
          <li class="nav-item">
          <li class="list-group-item">
            <i data-bs-toggle="modal" data-bs-target="#UserModal"
              class="fa-solid fa-user text-black fa-3x  "></i><!-- Button trigger modal -->
          </li> <!--Login-->
        </ul>
      </div>
    </nav>
  </header>
  <section class="Panel">
    <div class="container-fluid">
      <div class="card m-3">
        <div class="row">
          <!--Barra de navegaión Panel-->
          <div class="col-sm-4 col-lg-2 nav ">

            <div class=" m-2">
              <img src="../../../assets/imag/puntitos.png" class="logo_chico" alt="logo_Argentina_programa">
              <h4 class="text-center">Panel de administrador</h4>
              <!--lista-->
              <div class="lista-item">
                <ul class="list-group" id="list-tab" role="tablist">
                  <li class="list-group-item item">
                    <a class="link list-group-item-action active" id="list-redes-list" data-bs-toggle="list"
                      href="#list-redes" role="tab" aria-controls="list-redes"><i class="fa-solid fa-share-nodes"></i>
                      Redes</a>
                  </li>
                  <li class="list-group-item item">
                    <a class="link list-group-item-action" id="list-banner-list" data-bs-toggle="list"
                      href="#list-banner" role="tab" aria-controls="list-profile"><i class="fa-solid fa-image"></i>
                      Banner</a>
                  </li>
                  <li class="list-group-item item">
                    <a class="link list-group-item-action" id="list-informa-list" data-bs-toggle="list"
                      href="#list-informa " role="tab" aria-controls="list-profile"><i
                        class="fa-sharp fa-solid fa-circle-info"></i> Acerca de mí</a>
                  </li>
                  <li class="list-group-item panel item"><a class="link list-group-item-action" id="list-xp-list"
                      data-bs-toggle="list" href="#list-xp " role="tab" aria-controls="list-profile"><i
                        class="fa-solid fa-briefcase"></i> Experiencia</a>
                  </li>

                  <li class="list-group-item item btn-group dropend"><a class="link list-group-item-action"
                      id="list-educacion-list" data-bs-toggle="list" href="#list-educacion" role="tab"
                      aria-controls="list-profile"><i class="fa-sharp fa-solid fa-graduation-cap"></i> Educación
                    </a><button class="link-btn btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li class="list-group-item item"><a class="link list-group-item-action" id="list-cursos-list"
                          data-bs-toggle="list" href="#list-cursos" role="tab" aria-controls="list-profile"> Cursos</a>
                      </li>
                    </ul>
                  </li>

                  <li class="list-group-item item"><a class="link list-group-item-action" id="list-habilidades-list"
                      data-bs-toggle="list" href="#list-habilidades" role="tab" aria-controls="list-profile"><i
                        class="fa-solid fa-person-chalkboard"></i> Habilidades</a>
                  </li>
                  <li class="list-group-item item"><a class="link list-group-item-action" id="list-proyectos-list"
                      data-bs-toggle="list" href="#list-proyectos" role="tab" aria-controls="list-profile"><i
                        class="fa-solid fa-shapes"></i> Proyectos</a>
                  </li>
                  <li class="list-group-item item"><a class="link" href="inicio"><i
                        class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--Información del panel-->
          <div class="col-sm-8 col-lg-10 info text-dark ">
            <div class="tab-content" id="nav-tabContent">
              <!--redes-->
              <div class="tab-pane fade show active" id="list-redes" role="tabpanel" aria-labelledby="list-home-list">
                <Form [formGroup]="usuarioEditado" class="container mt-4">
                  <!--Linkedin-->
                  <div class="mb-3 nombre_redes m-2">
                    <label for="exampleInputEmail1" class="form-label"><i class="fa-brands fa-linkedin text-black"></i>
                      Linkedin</label>
                    <input type="text" class="form-control" id="linkedin" placeholder="{{usuario.linkedin}}"
                      formControlName="linkedin">
                  </div>

                  <!--Github-->
                  <div class="mb-3 nombre_redes m-2">
                    <label for="exampleInputEmail1" class="form-label"><i
                        class="fa-brands fa-square-github text-black"></i> Github</label>
                    <input type="text" class="form-control" id="linkedin" formControlName="github">
                  </div>

                  <!--Instagram-->
                  <div class="mb-3 nombre_redes m-2">
                    <label for="exampleInputEmail1" class="form-label"><i
                        class="fa-brands fa-square-instagram text-black"></i> Instagram</label>
                    <input type="text" class="form-control" id="linkedin" formControlName="instagram">
                  </div>
                  <button type="submit" class="btn azulito" (click)="guardarPerfil()">Guardar</button>


                </Form>

              </div>
              <div class="tab-pane fade" id="list-banner" role="tabpanel" aria-labelledby="list-profile-list">
                <!--Banner-->
                <form [formGroup]="usuarioEditado">
                  <div>
                    <div class="container mt-5">
                      <!--Previsualizar imagen-->

                      <div id="emailHelp" class="form-text">ingresa la url de la imagen que quieras subir.</div>
                      <div class="input-group-text ">
                        <label for="fotoPerfil" class="m-2">Foto de perfil: </label>
                        <input type="text" class="form-control" id="inputGroupFile04" name="fotoPerfil"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload" formControlName="img"
                          placeholder=""><button class="btn btn-secondary m-1"
                          (click)="previsualizar('perfil')">ver</button>

                      </div>

                      <img src="{{prefoto}}" alt="Previsualizar la imagen ingresada"
                        class="float-starts imagen-panel mt-3">

                      <div class="input-group-text mt-1">
                        <label for="banner" class="m-2">Banner: </label>
                        <input type="text" class="form-control" id="inputGroupFile04" name="banner"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload" formControlName="banner"
                          placeholder="off"><button class="btn btn-secondary m-1"
                          (click)="previsualizar('banner')">ver</button>

                      </div>
                      <img src="{{prebanner}}" alt="Previsualizar la imagen ingresada"
                        class="float-starts imagen-panel banner mt-3">
                      <div class="mt-2">

                        <button type="submit" class="btn azulito m-1" (click)="guardarPerfil()">Guardar</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!--Info-->
              <div class="tab-pane fade mt-3 m-3" id="list-informa" role="tabpanel" aria-labelledby="list-informa-list">
                <form [formGroup]="usuarioEditado">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control form-text" id="floatingInput" placeholder="name@example.com"
                      formControlName="nombre">
                    <label for="floatingInput">Nombre</label>
                  </div>
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="info" style="height: 200px"
                      formControlName="descripcion"></textarea>
                    <label for="floatingTextarea2">Acerca de Mí</label>
                  </div>
                  <div class="mt-2">
                    <button type="submit" class="btn azulito m-1" (click)="guardarPerfil()">Guardar</button>

                  </div>
                </form>
              </div>

              <!--Experiencias-->
              <div class="tab-pane fade" id="list-xp" role="tabpanel" aria-labelledby="list-xp-list">
                <form class="m-3">
                  <label for="experiencias">Experiencia: </label>
                  <select name="experiencias" class="form-select" aria-label="Default select example" id=""
                    (change)="onTraerExperiencia($event)">
                    <option class="emailHelp" [value]="0" selected>Selecciona una experiencia para editar</option>
                    <option *ngFor="let trabajo of trabajos" [value]="trabajo.id">{{trabajo.empresa}}</option>
                  </select>
                  <!-- DATOS PARA EDITAR O CREAR-->
                  <form [formGroup]="trabajoEditar">
                    <div class="mb-3 mt-3 ">
                      <label for="exampleInputEmail1" class="form-label">Empresa</label>
                      <input type="text" class="form-control emailHelp" id="Empresa" formControlName="empresa">
                    </div>
                    <div class="row g-3">

                      <div class="col-md-3">
                        <label for="inputZip" class="form-label">inicio</label>
                        <input type="text" class="form-control" id="inputZip" formControlName="inicio">
                      </div>

                      <div class="col-md-3">
                        <label for="inputZip" class="form-label">finalización</label>
                        <input type="text" class="form-control" id="inputZip" formControlName="fin">
                      </div>
                    </div>
                    <div class="form-floating mt-3">
                      <textarea class="form-control" placeholder="Leave a comment here" id="info" style="height: 200px"
                        formControlName="descripcion"></textarea>

                      <label for="floatingTextarea2">Tareas</label>
                    </div>

                    <div class="input-group-text mt-2">
                      <label for="logo_empresa" class="m-2">Logo de la empresa: </label>
                      <input type="text" class="form-control" id="inputGroupFile04" name="logo_empresa"
                        aria-describedby="inputGroupFileAddon04" aria-label="Upload" formControlName="img_empresa"
                        placeholder="">
                    </div>
                    <div class="input-group-text mt-2">
                      <label for="url_info" class="m-2">Página web de la empresa: </label>
                      <input type="text" class="form-control" id="inputGroupFile04" name="url_info"
                        aria-describedby="inputGroupFileAddon04" aria-label="Upload" formControlName="url_info"
                        placeholder="">
                    </div>
                  </form>
                  <div class="mt-2">
                    <button type="submit" class="btn azulito m-1" (click)="onCrearExperiencia()">Guardar</button>
                    <button type="button" class="btn btn-danger" disabled *ngIf="!elimExp">
                      Eliminar
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                      data-bs-target="#exampleModalCenter" *ngIf="elimExp">
                      Eliminar
                    </button>

                  </div>
                </form>
              </div>


              <!--MODAL PARA ELIMINAR EXPERIENCIA  -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Eliminar Experiencia?</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Seguro que desear eliminar la experiencia: <strong>{{trabajoEditar.value.empresa}}</strong>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
                        (click)="deleteExperiencia()">Eliminar</button>
                    </div>
                  </div>
                </div>
              </div>


              <!--Educación-->
              <div class="tab-pane fade" id="list-educacion" role="tabpanel" aria-labelledby="list-educacion-list">
                <form class="m-3" [formGroup]="educacionEditar">
                  <label for="exampleInputEmail1" class="form-label">Esctudios:</label>
                  <select name="experiencias" class="form-select" aria-label="Default select example" id=""
                    (change)="onTraerEstudios($event)">
                    <option class="emailHelp" [value]="0" selected>Selecciona una opción para editar</option>
                    <option *ngFor="let estudio of estudios" [value]="estudio.id">{{estudio.instituto}}</option>
                  </select>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Escuela o Institución</label>
                    <input type="text" class="form-control" id="Empresa" aria-describedby="emailHelp" autocomplete="off"
                      formControlName="instituto">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Titulo académico</label>
                    <input type="text" class="form-control" id="Empresa" aria-describedby="emailHelp"
                      formControlName="titulo" autocomplete="off">
                  </div>
                  <div class="row g-3">

                    <div class="col-md-3">
                      <label for="inputZip" class="form-label">Fecha de inicio</label>
                      <input type="text" class="form-control" id="inputZip" formControlName="inicio" autocomplete="off">
                    </div>


                    <div class="col-md-3">
                      <label for="inputZip" class="form-label">Fecha de finalización</label>
                      <input type="text" class="form-control" id="inputZip" formControlName="fin" autocomplete="off">
                    </div>
                  </div>

                  <div class="form-floating mt-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="info" style="height: 200px"
                      formControlName="descripcion" autocomplete="off"></textarea>

                    <label for="floatingTextarea2">Tareas</label>
                  </div>

                  <div class="input-group-text mt-2">
                    <label for="logo_empresa" class="m-2">Escudo de la escuela / Universidad / Institución </label>
                    <input type="text" class="form-control" id="inputGroupFile04" name="logo_empresa"
                      aria-describedby="inputGroupFileAddon04" aria-label="Upload" formControlName="img_educacion"
                      placeholder="">
                  </div>
                  <!--botones-->
                  <div class="mt-2">
                    <button type="button" class="btn azulito m-1" (click)="CrearEstudio()">Guardar</button>
                    <button type="button" class="btn btn-danger" disabled *ngIf="!elimEstudio">
                      Eliminar
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                      data-bs-target="#educacionModalCenter" *ngIf="elimEstudio">
                      Eliminar
                    </button>

                  </div>
                </form>
              </div>
              <!--MODAL PARA ELIMINAR EDUCACION  -->
              <div class="modal fade" id="educacionModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="educacionModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Eliminar esta experiencia educativa</h5>
                      <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Seguro que desear eliminar el estudio: <strong>{{educacionEditar.value.titulo}}</strong>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
                        (click)="eliminarEducacion()">Eliminar</button>
                    </div>
                  </div>
                </div>
              </div>

              <!--CURSOS-->
              <div class="tab-pane fade" id="list-cursos" role="tabpanel" aria-labelledby="list-cursos-list">
                <app-panel-cursos></app-panel-cursos>
              </div>
              <!--HABLIDADES-->
              <div class="tab-pane fade" id="list-habilidades" role="tabpanel" aria-labelledby="list-habilidades-list">
                <app-panel-habilidades></app-panel-habilidades>
              </div>
              
              <!--Proyectos-->
              <div class="tab-pane fade" id="list-proyectos" role="tabpanel" aria-labelledby="list-proyectos-list">
                <app-panel-proyectos></app-panel-proyectos>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Modal agregar skills -->
  <div class="modal fade" id="agregarSkillModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar habilidad</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombre-hardkill" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nomre-hardSkill" aria-describedby="text-bg-dark">
            <label for="nombre-hardkill" class="form-label">Porcentaje</label>
            <div class="input-group mb-3">

              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              <span class="input-group-text">%</span>
            </div>
            <label for="exampleColorInput" class="form-label">Elige un color</label>
            <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c"
              title="Choose your color">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn azulito">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal editar nombre de las hards-skills -->
  <div class="modal fade" id="hardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar nombre</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombre-hardkill" class="form-label"></label>
            <input type="text" class="form-control" id="nomre-hardSkill" aria-describedby="text-bg-dark">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn azulito">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal luser-->
  <div class="modal fade" id="UserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Usuario: Lautaro Retta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <div class="container mt-1 d-flex justify-content-center">
                <img src="../../../assets/imag/perfil.jpg" alt="perfil" class="rounded-circle float-starts fotoPerfil">
              </div>
              <div class="input-group mt-3">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                  aria-label="Upload">
                <button class="btn btn-outline-success" type="button" id="inputGroupFileAddon04">Subir</button>
              </div>
              <label for="exampleInputEmail1" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="exampleInputTextNombre" placeholder="Lautaro Retta">

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerra</button>
          <button type="submit" class="btn btn-success">Iniciar sesión</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">

    </script>
</body>