<section class="proyectos p-5">
    <div class="container-fluid">
      <div class="d-flex">
        <div><h2 class="titulo_de_seccion"> <strong> Proyectos </strong> </h2></div>
        <div>
          <img src="../assets/imag/puntitos.png" alt="puntitos" class="puntitos">
        </div>
      </div>
    </div>

    <div class="d-flex flex-row mt-5">
      <div class="card m-1" style="width: 49%;">
        <img src="../assets/imag/proyects/Web-1.jpg " class="card-img-top" alt="IRA PAVLOVA">
      
        <div class="card-body">
          <h5 class="card-title">IRA PAVLOVA</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://www.irapavlova.net/" target="_blank" class="btn btn-primary">Ir al sitio</a>
        </div>
      </div>
      <div class="card m-1" style="width: 49%;">
        <img src="../assets/imag/proyects/Web-2.jpg " class="card-img-top" alt="IRA PAVLOVA">
      
        <div class="card-body">
          <h5 class="card-title">ALISON DE MARS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://www.demars.se/" target="_blank" class="btn btn-primary">Ir al sitio</a>
        </div>
      </div>
    </div>
  </section>
