  <!--Barra de navegación-->
  <nav class="navbar navbar-expand-lg bg-gris">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img src="{{banner}}" alt="Logo Argentina Prigrama" class="logo">
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <li class="list-group-item"><a href="{{usuario.linkedin}}" target="_blank"><i class="fa-brands fa-linkedin text-black fa-3x"  ></i></a></li> <!--Linkedin-->
          <li class="list-group-item"><a href="{{usuario.github}}" target="_blank"> <i class="fa-brands fa-square-github text-black fa-3x"></i></a></li> <!--Github-->
          <li class="list-group-item"><a href="{{usuario.instagram}}" target="_blank"><i class="fa-brands fa-square-instagram fa-3x text-black "></i></a></li> <!--Instagram-->
          <li class="list-group-item">
            <i *ngIf="!userLoginOn" data-bs-toggle="modal" data-bs-target="#loginModal" class="fa-solid fa-user-lock text-black fa-3x  "></i><!-- Button trigger modal -->

            <i *ngIf="userLoginOn" (click)="UserAdmin()"
            class="fa-solid fa-user text-black fa-3x  "></i>
          </li> <!--Login-->
      </ul>
      
    </div>  
  
  </nav>
  
  <!--Banner-->
  <section class="container-fluid banner" >
    
  </section>
  <!--presenación-->
  <section class="foto_presentacion">
    <div class="container-fluid"><div class="row ">
      <div class="col-sm-12 col-md-4 col-xl-s align-center">
        <div>
          <img src={{usuario.img}} alt="perfil" class="rounded-circle float-starts foto_perfil"  >
        </div>
        <div class="nombre">
          <h1>{{usuario.nombre}} {{usuario.apellido}}</h1> 
          <h4 class="developer">Desarrollador Web Full Stack Jr.</h4>
        </div>
      </div>
      
     <!--Acerca de mi-->
      <div class=" p-4 col-sm-12 col-md-8 col-xl-7 acercade">
        <h3> <span><b> Acerde de mí</b></span></h3>
          {{usuario.descripcion}}
          
      </div>
    </div>
    </div>
  </section>

  <app-login></app-login>
  
  <script>
    

  </script>