<section class="Educacion ct ">
    <div class="container-fluid ">
      <div class="d-flex">
        <div class=""><h2 class="titulo_de_seccion"> <strong> Educación </strong> </h2></div>
        <div>
          <img src="../assets/imag/puntitos.png" alt="puntitos" class="puntitos">
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row mt-3">
        <div class=" col-md-6 col-xl-4 contenedor text-center ">
          <img src="../assets/imag/EEST4.jpg" alt="Logo_EEST4" class="foto_ed"> 
          
        </div>
        <div class=" col-md-6 col-xl-4 mt-4">
          <h3 class="subtitulo_seccion"> <strong>  E.E.S.T N° 4 Juan Manuel Fangio</strong> </h3>
          <h4> <i>Técnico en Automotores </i> </h4>
          <p class="fecha w-100"> 2011 - 2018 </p>
        </div>  
        <div class="col-md-0 col-xl-4"></div>
      </div>
      <div class="mt-5" >
        <div class="d-flex">
          <div ><h3 class="titulo_de_seccion"> <strong>Cursos</strong></h3></div>
          <div>
            <img src="../assets/imag/cubos.png" alt="puntitos" class="puntitos">
          </div>
        </div>
        
      </div>
    
      <!--Carrucel-->
      <div id="carouselExampleInterval" class="carousel slide mt-4" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../assets/imag/Cursos/Certificado_de_Curso_Programacion_desde_Cero.jpg" class="d-block w-100" alt="Curso_Programacion_desde_Cero_Egg">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="../assets/imag/Cursos/certificado-de-marketing-digital-de-google.jpg" class="d-block   w-100" alt="certificado-de-marketing-digital-de-google">
          </div>
        
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    </div>
      
  </section>