<section class="experiencia ct">
    <div class="container-fluid">
      <div class="d-flex">
        <div ><h2 class="titulo_de_seccion"> <strong> Experiencias Laborales </strong> </h2>
        </div>
        <div>
          <img src="../assets/imag/puntitos.png" alt="puntitos" class="puntitos">
        </div>
      </div>
    </div>
  
    
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 col-xl-4 contenedor text-center">
          <img src="../assets/imag/GP QUALITY LOGO .jpg" alt="Logo_gp_quality" class="logo_empresa"> 
          <p class="fecha m-0 p-1 w-100"> 04/2021 - Actualmente </p>
          
        </div>

        <div class=" col-md-6 col-xl-8 mt-4 p-0">
          <h3 class="subtitulo_seccion">Gp quality</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum vitae nulla, architecto, tempore temporibus ut harum vero molestias natus atque exercitationem, magni unde pariatur eveniet quia a amet. Perspiciatis, provident!
        </div>
      </div>
      <div class="row mt-4 ">
        <div class="col-md-6 col-xl-4  text-center ">
          <img src="../assets/imag/VTV LOGO.jpg" alt="Logo_gp_quality" class="logo_empresa"> 
          <p class="fecha p-1"> 11/2019 - 03/2020</p >

        
        </div>
        <div class="col-md-6 col-xl-8 mt-4 p-0">
          <h3 class="subtitulo_seccion">Verficación Ténica Vehicular</h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum vitae nulla, architecto, tempore temporibus ut harum vero molestias natus atque exercitationem, magni unde pariatur eveniet quia a amet. Perspiciatis, provident!
        </div>
        </div>
      
    </div>
    
  </section>