  <!--Barra de navegación-->
  <nav class="navbar navbar-expand-lg bg-gris">
    <div class="container-fluid">
      <a class="navbar-brand" href="/Index.html">
        <img src="../assets/imag/APLogo-20-20 (1).png" alt="Logo Argentina Prigrama" class="logo">
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <li class="list-group-item"><a href="https://www.linkedin.com/in/lautaro-rodrigo-retta-870722208" target="_blank"><i class="fa-brands fa-linkedin text-black fa-3x"  ></i></a></li> <!--Linkedin-->
          <li class="list-group-item"><a href="https://github.com/Lau-Retta" target="_blank"> <i class="fa-brands fa-square-github text-black fa-3x"></i></a></li> <!--Github-->
          <li class="list-group-item"><a href="https://www.facebook.com/laut.retta/" target="_blank"><i class="fa-brands fa-square-facebook text-black fa-3x"></i></a></li> <!--Facebook-->
          <li class="list-group-item"><a href="https://www.instagram.com/lautaroretta" target="_blank"><i class="fa-brands fa-square-instagram fa-3x text-black "></i></a></li> <!--Instagram-->
          <li class="list-group-item">
            <i data-bs-toggle="modal" data-bs-target="#loginModal" class="fa-solid fa-user-lock text-black fa-3x  "></i><!-- Button trigger modal -->
          </li> <!--Login-->
      </ul>
      
    </div>  
  
  </nav>
  
  <!--Banner-->
  <section class="container-fluid banner" >
    
  </section>
  <!--presenación-->
  <section class="foto_presentacion">
    <div class="container-fluid"><div class="row ">
      <div class="col-sm-12 col-md-4 col-xl-s align-center">
        <div>
          <img src="../assets/imag/perfil.jpg" alt="perfil" class="rounded-circle float-starts foto_perfil"  >
        </div>
        <div class="nombre">
          <h1> Lautaro Rodrigo Retta </h1> 
          <h4 class="developer">Desarrollador Web Full Stack Jr.</h4>
        </div>
      </div>
      
     <!--Acerca de mi-->
      <div class=" p-4 col-sm-12 col-md-8 col-xl-7 acercade">
        <h3> <span><b> Acerde de mí</b></span></h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi soluta repellat illo harum velit, voluptas, aliquam officia dolorem rem tempora magnam nam. Deleniti ab repellat soluta aspernatur perferendis optio nulla!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis, quis non facilis optio earum at facere saepe, aspernatur fuga, ipsa doloremque ut voluptatum fugit. Repellat maiores voluptatum magnam accusantium.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos voluptatum deleniti veniam quaerat repudiandae nulla inventore voluptate dicta sapiente numquam et, ea adipisci. Illo odio unde consequuntur repudiandae pariatur. Quam.
      </div>
    </div>
    </div>
  </section>